//@import url("/usr/share/gnome-shell/theme/gnome-shell.css");

@global-grid: 6px;
@global-margin: @global-grid / 2;
@global-padding: @global-grid (@global-grid * 2);
@global-radius: 3px;
@global-radius-large: 8px;
@global-radius-largest: 18px;
@global-color-clear: rgba(0, 0, 0, 0.01);
@global-color-light: white;
@global-color-light-faded: fadeout(@global-color-light, 20%);
@global-color-primary-light: rgb(0, 129, 245);
@global-color-primary: darken(@global-color-primary-light, 8%);
@global-color-primary-faded: fadeout(@global-color-primary-light, 65%);
@global-color-primary-dark: darken(@global-color-primary, 12%);
@global-color-primary-start: @global-color-primary-light;
@global-color-primary-end: @global-color-primary-dark;
@global-color-primary-alt: rgb(255, 51, 0);
@global-color-primary-alt-faded: fadeout(@global-color-primary-alt, 15%);
@global-color-primary-alt-light: lighten(@global-color-primary-alt, 2%);
@global-color-primary-alt-light-faded: fadeout(@global-color-primary-alt-light, 15%);
@global-color-primary-alt-dark: darken(@global-color-primary-alt, 2%);
@global-color-primary-alt-start: @global-color-primary-alt-light;
@global-color-primary-alt-end: @global-color-primary-alt-dark;
@global-color-background-primary: rgba(0, 0, 0, 0.85);
@global-color-background-primary-faded: fadeout(@global-color-background-primary, 45%);
@global-color-background-primary-light: lighten(@global-color-background-primary, 18%);
@global-color-background-primary-dark: darked(@global-color-background-primary, 2%);
@global-color-background-primary-start: @global-color-background-primary-light;
@global-color-background-primary-end: @global-color-background-primary-dark;
@global-color-background-secondary: rgb(228, 228, 228);
@global-color-background-secondary-faded: fadeout(@global-color-background-secondary, 35%);
@global-color-critical: rgba(255, 0, 15);
@global-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);

@global-highlight: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
@global-highlight-bright: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.27);
@global-highlight-faded: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.08);
@global-transition-duration: 400ms;
@global-transition-duration-short: @global-transition-duration / 2;

stage {
  font-family: Ubuntu, Futura Bk bt, Cantarell, Sans-Serif;
  font-size: 11pt;
}

.button {
  //color: @global-color-background-secondary;
  //padding: 5px 32px;
  //background-color: @global-color-primary;
  //border: none;
  //box-shadow: none;
  box-shadow: @global-highlight-bright;
  background: @global-color-primary;
  border-radius: @global-radius;
  cursor:pointer;
  color: @global-color-light-faded;
  font-family:Arial;
  font-weight:bold;
  padding: @global-grid (@global-grid * 4);
  text-decoration:none;

  &:hover {
    color: @global-color-light;
    text-shadow: @global-text-shadow;
    background-color: @global-color-primary-light;
  }

  &:active {
    color: @global-color-light;
    text-shadow: @global-text-shadow;
    background-color: @global-color-primary-dark;
    box-shadow: inset 0px -1px 3px 0px rgba(0, 0, 0, 0.2);
  }
}

.slider {
  height: 5px;
  -slider-height: 3px;
  -slider-background-color: @global-color-background-secondary-faded;
  -slider-border-color: transparent;
  -slider-active-background-color: @global-color-primary-alt;
  -slider-active-border-color: rgba(0, 0, 0, 0.3);
}

/* Buttons */
.candidate-page-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.modal-dialog-button,
.app-view-control {
  color: @global-color-background-secondary;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.45);
  background-gradient-start: rgba(0, 0, 0, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.15);
  font-weight: normal;
  transition-duration: @global-transition-duration-short;
}

.candidate-page-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.modal-dialog-button:hover {
  color: rgba(222, 222, 222, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(74, 144, 217, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.1);
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
}

.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus,
.app-view-control:focus {
  color: rgba(222, 222, 222, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.2);
  border-color: rgba(10, 10, 10, 0.15);
  border-image: none;
}

.notification-button:focus:hover,
.notification-icon-button:focus:hover,
.hotplug-notification-item:focus:hover,
.modal-dialog-button:focus:hover,
.app-view-control:focus:hover {
  color: rgba(222, 222, 222, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.2);
  background-gradient-end: rgba(0, 0, 0, 0.4);
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
}

.notification-button:focus:active,
.notification-icon-button:focus:active,
.hotplug-notification-item:focus:active,
.modal-dialog-button:focus:active,
.app-view-control:focus:active {
  color: rgba(222, 222, 222, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.2);
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
}

.modal-dialog-linked-button {
  padding: 0;
  border-radius: 0 0 @global-radius  @global-radius !important;
  box-shadow: @global-highlight;
  border: 0;
  height: 35px;
  color: #FFF;
  background-color: @global-color-primary;
  font-weight: bold;

  //&:insensitive {
  //  color: #949796;
  //  border-color: rgba(0, 0, 0, 0.7);
  //  background-color: rgba(66, 72, 73, 0.7);
  //  box-shadow: none;
  //  text-shadow: none;
  //  icon-shadow: none;
  //}
  //&:active {
  //  color: white;
  //  border-color: rgba(0, 0, 0, 0.7);
  //  background-color: #222728;
  //  box-shadow: inset 0 0 black;
  //  text-shadow: none;
  //  icon-shadow: none;
  //}
  //&:focus {
  //  color: #eeeeec;
  //  text-shadow: 0 1px black;
  //  icon-shadow: 0 1px black;
  //  box-shadow: inset 0px 0px 0px 1px #215d9c;
  //}
  //&:first-child {
  //  border-radius: 0px 0px 0px 6px;
  //}
  //&:last-child {
  //  border-right-width: 0px;
  //  border-radius: 0px 0px 6px 0px;
  //}
  //&:first-child:last-child {
  //  border-right-width: 0px;
  //  border-radius: 0px 0px 6px 6px;
  //}
}

.app-view-control:focus {
  padding: 3px;
}

.app-view-control:first-child:ltr:focus,
.app-view-control:last-child:rtl:focus {
  border-right-width: 1px;
}

.candidate-page-button:active,
.candidate-page-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed,
.app-view-control:checked {
  color: @global-color-light;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(74, 144, 217, 0.5);
  background-gradient-start: rgba(74, 144, 217, 0.4);
  background-gradient-end: rgba(74, 144, 217, 0.2);
  border-color: #141414;
}

.candidate-page-button:insensitive,
.notification-button:insensitive,
.notification-icon-button:insensitive,
.modal-dialog-button:insensitive {
  color: rgba(153, 153, 153, 1.0);
}

/* Entries */
.search-entry {
  @padding: 12px;
  font-size: 12pt;
  caret-size: 1px;
  caret-color: @global-color-background-secondary;
  background-color: @global-color-background-primary;
  color: @global-color-light-faded;
  selection-background-color: @global-color-background-primary;
  selected-color: @global-color-light-faded;
  padding: @padding;
  box-shadow: none;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(10, 10, 10, 0.15);
  border-image: none;
  border: 2px solid transparent;
  transition-duration: @global-transition-duration-short;

  .search-entry-icon {
    icon-size: 16px;
    padding: 0 4px;
    color: @global-color-light-faded;
    icon-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  }

  &:hover,
  &:focus {
    color: @global-color-light;
    border: 2px solid @global-color-light-faded;
    .search-entry-icon {
      color: @global-color-light;
    }
  }
}

.search-section-separator {
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom: none;
  border-left: none;
  border-right: none;
  -margin-horizontal: 1.5em;
  height: 1px;
  box-shadow: inset 0 1px 0 rgba(222, 222, 222, .04);
}

/* modify these start */
///* dash sök */
//.search-entry {
//  width: 320;
//  padding: 7px 9px;
//  border: 1px solid transparent;
//  border-top: none;
//  border-left: none;
//  border-right: none;
//  border-radius: 0;
//  background-color: rgba(220,220,220,0);
//  font-weight: 400;
//  font-size: 1.1em;
//  color: rgba(220,220,220,1);
//  text-shadow: 0 1px 3px rgba(0,0,0,.5) !important; /* äntligen! */
//  /*box-shadow: 0 0 0 rgba(220,220,220,0);*/
//  transition-duration: 800ms;
//}
//.search-entry:hover { /*hackan: delar upp :hover och :focus så att den går från genomskinlig till blå till grön*/
//  border: 1px solid;
//  border-top: none;
//  border-left: none;
//  border-right: none;
//  color: rgb(100,200,250);
//  caret-color: #ccc;
//  background-color: rgba(240,240,240,0);
//  selection-background-color: rgba(50,170,250,1);
//  selected-color: #f5f5f5;
//}
//.search-entry:focus { /*var tvungen att köra viktigt för att få effekt*/
//  border: 1px solid rgba(60,200,80,.5) !important;
//  border-top: none !important;
//  border-left: none !important;
//  border-right: none !important;
//  color: rgb(100,200,130);
//  caret-color: rgb(60,200,80) !important;
//  background-color: rgba(60,200,80,.00);
//  selection-background-color: rgb(60,200,80);
//  selected-color: #555; /*40,190,255*/
//  box-shadow:inset 0 -1px 0 rgba(0,0,0,6);
//}
///* ::: Sökresultat ::: */
//#searchResultsBin {
//  max-width: 1000; }
//
//#searchResultsContent {
//  padding-left: 20;
//  padding-right: 20;
//  spacing: 16px;
//}
//.search-section {
//  spacing: 16px;
//}
//
//.search-section-content {
//  spacing: 32px;
//}
//
//.list-search-results {
//  spacing: 3px;
//}
//.search-section-separator {
//  background-color: rgba(220,220,220,.0);
//  border: 1px solid rgba(0,0,0,.6);
//  border-bottom: none;
//  border-left: none;
//  border-right: none;
//  -margin-horizontal: 1.5em;
//  height: 1px;
//  box-shadow:inset 0 1px 0 rgba(250,250,250,.2);
//}
//
//.list-search-result-content {
//  spacing: 12px;
//  padding: 12px;
//}
//
//.list-search-result-title {
//  font-size: 1.5em;
//  color: #fff;
//}
//
//.list-search-result-description {
//  padding-top: .4em;
//  color: #eee;
//}
//.list-search-result-icon {
//
//}
//
//
//.search-provider-icon-more {
//  width: 16px;
//  height: 16px;
//  background-image: url("common-assets/misc/more-results.svg");
//}

/* modify these end */
StEntry {
  font-size: 11pt;
  caret-color: #333;
  caret-size: 1px;
  background-color: rgba(222, 222, 222, 0.1);
  selection-background-color: rgba(74, 144, 217, 0.5);
  selected-color: rgba(249, 249, 249, 0.6);
  color: rgba(249, 249, 249, 1.0);
  padding: @global-padding;
  margin-top: @global-margin;
  border: none;
  border-radius: @global-radius;
  border-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);

  &:focus {
  }

  &:insensitive {
    color: #949796;
    border-color: #333636;
    box-shadow: none;
  }

  & StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: #f57900;
    padding: 0 4px;
  }
}

/* Panel */
#panelBox { }
#panel {
  color: @global-color-background-secondary;
  background-image: none;
  background-gradient-direction: vertical;
  background-gradient-start: @global-color-background-primary;
  background-gradient-end: @global-color-clear;
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: @global-highlight;
  font-size: 13px;
  height: 28px;
  transition-duration: @global-transition-duration;

  &.solid {
    color: @global-color-background-secondary;
    background-color: @global-color-background-primary;
    background-gradient-direction: none;
    box-shadow: none;

    &:hover {
      color: @global-color-light-faded;
      background-color: @global-color-background-primary-light;
    }
    &:active,
    &:focus,
    &:checked {
      color: @global-color-light;
      background-color: @global-color-background-primary;
    }
  }
  .panel-button {
    @box-shadow: inset 0 -2px 0 @global-color-light-faded;
    font-weight: bold;
    font-size: 13px;  background-gradient-direction: vertical;
    text-shadow: @global-text-shadow;
    //-natural-hpadding: 12px;
    //-minimum-hpadding: 6px;
    color: @global-color-light-faded;

    &:hover {
      color: @global-color-light;
    }

    &:overview {
      background-color: @global-color-clear;
      box-shadow: @box-shadow;
    }

    &:active,
    &:focus,
    &:checked {
      color: @global-color-light;
      box-shadow: inset 0 -2px 0 @global-color-light-faded;
    }
    & .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: @global-grid;
      margin-right: @global-grid;
    }
  }
}

.panel-corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-width: 0;
  -panel-corner-border-color: transparent;
}

/* Scroll Bars */

StScrollBar {
  padding: 4;
}

StScrollView.vfade {
  -st-vfade-offset: 21px;
}

StScrollView.hfade {
  -st-hfade-offset: 21px;
}

StScrollView StScrollBar {
  min-width: 10;
  min-height: 15px;
}

StScrollBar StBin#trough {
  background-color: transparent;
  border-radius: 4px;
}

StScrollBar StButton#vhandle {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(10, 10, 10, 0.35);
  background-gradient-start: rgba(20, 20, 20, 0.55);
  background-gradient-end: rgba(74, 144, 217, 0.65);
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition-duration: @global-transition-duration;
}

StScrollBar StButton#vhandle:hover {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(74, 144, 217, 0.3);
  background-gradient-start: rgba(74, 144, 217, 0.3);
  background-gradient-end: rgba(74, 144, 217, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

StScrollBar StButton#vhandle:active {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(74, 144, 217, 0.3);
  background-gradient-start: rgba(74, 144, 217, 0.3);
  background-gradient-end: rgba(74, 144, 217, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

StScrollBar StButton#hhandle {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(10, 10, 10, 0.3);
  background-gradient-end: rgba(74, 144, 217, 0.3);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition-duration: @global-transition-duration;
}

StScrollBar StButton#hhandle:hover {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgbargba(74, 144, 217, 0.3);
  background-gradient-start: rgbargba(74, 144, 217, 0.3);
  background-gradient-end: rgbargba(74, 144, 217, 0.3);
  border-color: none;
}

StScrollBar StButton#hhandle:active {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgbargba(74, 144, 217, 0.4);
  background-gradient-start: rgbargba(74, 144, 217, 0.4);
  background-gradient-end: rgbargba(74, 144, 217, 0.4);
  border-color: rgba(0, 0, 0, 0.3);
}

/* Switches */
.toggle-switch {
  width: 45px;
  height: 15px;
  border-radius: 12px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.02);
  background-size: contain;
  background-image: url("assets/toggle-off.svg");
}

.toggle-switch:checked {
  background-image: url("assets/toggle-on.svg");
}

.popup-menu-item.selected .toggle-switch {
  background-image: url("assets/toggle-off-selected.svg");
}

.popup-menu-item.selected .toggle-switch:checked {
  background-image: url("assets/toggle-on-selected.svg");
}

/* PopupMenu */
.popup-menu-boxpointer,
.candidate-popup-boxpointer {
  -arrow-background-color: @global-color-clear;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 64px;
  -arrow-rise: 0;
  -arrow-box-shadow: none;
  margin: 0.1em 0.3em 0.5em;
  border-radius: 2px;
  background-color: @global-color-background-primary;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.32), 0 3px 3px rgba(0, 0, 0, 0.18);
}

// wrapper for all panel popover menus
.popup-menu {
  margin: 5px 9px;
  color: rgba(222, 222, 222, 1);
  border-radius: @global-radius;
  background-color: @global-color-background-primary;

  &.panel-menu {
    // needed for menu drop-shadow
    -boxpointer-gap: 10px;
    margin: 0 10px 10px 0;
  }

  .popup-sub-menu {
    color: rgba(222, 222, 222, 1);
    background: none;
  }

  // panel popover menu content
  .popup-menu-content {
    background: none;
  }

  .popup-menu-item {
    background: none;
    &:hover {
      background-color: lighten(@global-color-background-primary, 25%);
    }
    &:selected,
    &:active {
      background-color: lighten(@global-color-background-primary, 40%);
    }
  }
}

.popup-menu-ornament {
}

.popup-submenu-menu-item {
  background: none;
  &:open {
    background: none;
  }
}

.popup-separator-menu-item {
  border-color: rgba(10, 10, 10, 0.35);
}

.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0px;
}

/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 16px;
}

.osd-window,
.switcher-list {
  color: rgba(222, 222, 222, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.65);
  background-gradient-start: rgba(0, 0, 0, 0.5);
  background-gradient-end: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(10, 10, 10, 0.35);
  border-radius: 12px;
  padding: 20;
}

.switcher-list .item-box:outlined {
  padding: 6px;
  border: 12px solid @global-color-primary;
}

.switcher-list .item-box:selected {
  background-color: rgba(74, 144, 217, 0.45);
}

/* Workspace Switcher */
.workspace-switcher-group {
  padding: 12px;
}

.workspace-switcher-container {
  background-color: transparent;
  border: 0 transparent;
  border-radius: 5px;
  box-shadow: 0;
  padding: 20;
}

.workspace-switcher {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  spacing: 8px;
}

.ws-switcher-active-up {
  height: 50;
  border: none;
  background: rgba(0, 0, 0, 0.65);
  background-image: url("./assets/ws-switch-arrow-up.svg");
  border-radius: 8px;
}

.ws-switcher-active-down {
  height: 50;
  border: none;
  background: rgba(0, 0, 0, 0.65);
  background-image: url("./assets/ws-switch-arrow-down.svg");
  border-radius: 8px;
}

.ws-switcher-box {
  height: 96px;
  border: none;
  background: @global-color-primary;
  border-radius: 8px;
}

.calendar {
  padding: .4em 1.75em .8em 1.75em;
  spacing-rows: 0;
  spacing-columns: 0;
}

.calendar-month-label {
  color: @global-color-background-secondary;
  font-size: 10pt;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;

  &:focus {
    color: @global-color-background-secondary;
  }
}

.calendar-change-month-back {
  background-image: url("./assets/calendar-arrow-back.svg");
  border-radius: 30;
  border: 1px transparent;
  transition-duration: @global-transition-duration;

  &:hover,
  &:focus {
    background-color: @global-color-primary-light;
  }

  &:active {
    background-color: transparent;
  }
}

.calendar-change-month-forward {
  background-image: url("./assets/calendar-arrow-forward.svg");
  border-radius: 30;
  border: 1px transparent;
  transition-duration: @global-transition-duration;

  &:hover,
  &:focus {
    background-color: @global-color-primary-light;
  }

  &:active {
    background-color: transparent;
  }
}

.datemenu-date-label {
  padding: .4em 1.7em;
  font-weight: bold;
  text-align: center;
  color: @global-color-background-secondary;

  &:hover,
  &:focus {
    color: @global-color-background-secondary;
  }

  &:active {
    background-image: none;
    background-gradient-direction: none;
    background-color: @global-color-primary;
    background-gradient-start: @global-color-primary-start;
    background-gradient-end: @global-color-primary-end;
  }
}

.datemenu-today-button {
  color: @global-color-background-secondary;
  background-color: transparent;

  &:hover,
  &:focus {
    color: @global-color-background-secondary;
    box-shadow: @global-highlight-faded;
  }

  &:active {
    box-shadow: @global-highlight-faded;
  }
}


.world-clocks-button:active,
.message-list-section-title:active {
  box-shadow: @global-highlight-faded;
  background-color: @global-color-primary;
}

.calendar-day-base {
  font-size: 9pt;
  text-align: center;
  width: 2.4em;
  height: 2.4em;
  border: none;
  box-shadow: @global-highlight-bright;

  &:hover,
  &:focus {
    color: @global-color-light;
    background-image: none;
    background-color: @global-color-primary-light;
  }

  &:selected,
  &:active {
    color: @global-color-light;
    background-image: none;
    background-color: @global-color-primary;
  }
}

.calendar-day-heading {
  color: @global-color-background-secondary;
  padding-top: .2em;
  height: 1.7em;
}

.calendar-week-number {
  color: @global-color-background-secondary;
  font-weight: bold;
}

.calendar-day-with-events {
  background-image: url("calendar-today.svg");
}

.events-day-header {
  font-weight: bold;
  color: @global-color-background-secondary;
  padding-left: 0.4em;
  padding-top: 1.2em;
}

.events-day-time {
  color: @global-color-background-secondary;
  text-align: right;
}

.system-menu-action {
  color: @global-color-background-secondary;
  border-radius: 32px;
  padding: 13px;
  border: 2px solid rgba(10, 10, 10, 0.3);

  &:hover,
  &:focus {
    color: rgba(249, 249, 249, 1.0);
    background-image: none;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0.4);
    background-gradient-start: rgba(0, 0, 0, 0.3);
    background-gradient-end: rgba(0, 0, 0, 0.4);
    border: 2px solid @global-color-primary-alt-faded;
  }

  &:active {
    color: rgba(249, 249, 249, 1.0);
    background-image: none;
    background-gradient-direction: none;
    background-color: rgba(0, 0, 0, 0.4);
    background-gradient-start: rgba(0, 0, 0, 0.3);
    background-gradient-end: rgba(0, 0, 0, 0.4);
    border: 2px solid @global-color-primary-alt;
  }
}

/* Network */

.nm-dialog {
  border: 0;
}

.nm-dialog-content {
  color: rgba(222, 222, 222, 1);
}

.nm-dialog-header-icon {
  icon-size: 32px;
  color: rgba(10, 10, 10, 0.75);
  padding-bottom: 14px;
}

.nm-dialog-scroll-view {
  background-color: transparent;
  border: none;
  padding-left: 10;
}

.nm-dialog-header {
  font-weight: bold;
  color: @global-color-primary;

  &:selected {
    border-radius: 6px;
    border: 1px rgba(10, 20, 10, 0.75);
    background-color: @global-color-primary-light
  }
}

/* Overview */
#overview {
  spacing: 24px;
  background-color: rgba(255, 255, 255, .06);
}

.overview-controls {
  padding-bottom: 32px;
}

.workspace-thumbnails {
  spacing: 11px;
  visible-width: 32px; /* Amount visible before hovering */
  border: 1px solid rgba(10, 10, 10, 0.75);
  border-right: 0;
  border-radius: @global-radius-large 0 0 @global-radius-large;
  background-image: none;
  background-gradient-direction: none;
  background-color: @global-color-background-primary;
  background-gradient-start: none;
  background-gradient-end: none;
  padding: 9px 7px 9px 9px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);;
}

.workspace-thumbnail-indicator {
  border-radius: @global-radius;
  border: 2px solid @global-color-light-faded;
}

.window-clone-border {
  border-radius: @global-radius;
  border: 3px solid @global-color-light;
}

/* todo: tweak me */
.window-caption {
  spacing: 25px;
  color: #dedede;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 8px;
  padding: 4px 12px;
  -shell-caption-spacing: 12px;

  &:hover {
    background-color: #4a90d9;
  }
}

/* Message List */
.message-list {
  background-color: transparent;
}

.message-list-section-title {
  color: rgba(222, 222, 222, 0.5);
}

.message-list-section-title:hover,
.message-list-section-title:focus {
  color: rgba(222, 222, 222, 1);
  background-color: rgba(10, 10, 10, 0.65);
}

.message-list-section-title:active {
  background-color: @global-color-primary;
}

.message-list-section-close > StIcon {
  icon-size: 16px;
  border-radius: 16px;
  border: 2px transparent;
  color: #999;
  background-color: transparent;
  margin-right: 8px
}

.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon {
  color: @global-color-primary;
}

.window-close {
  background-image: url("./assets/close-window.svg");
  &:hover {
    background-image: url("./assets/close-window-hover.svg");
  }
  &:active {
    background-image: url("./assets/close-window-active.svg");
  }
}

/* notification in message tray */
.message {
  background-color: @global-color-background-primary;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.75);
  }
  &:active {
    background-color: @global-color-primary;
  }
}

/* Notifications & Message Tray */
.url-highlighter {
  link-color: @global-color-primary;
}

.notification-banner {
  font-size: 11pt;
  width: 34em;
  margin: 5px;
  border: 1px solid rgba(10, 10, 10, 0.3);
  border-radius: 6px;
  color: rgba(222, 222, 222, 0.85);
  background-color: @global-color-background-primary;

  &:active,
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.95);
  }

  .notification-icon {
    padding: 5px;
  }

  .notification-content {
    padding: 5px;
    spacing: 5px;
  }

  .secondary-icon {
    icon-size: 1.09em;
  }

  .notification-actions {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 2px;
    spacing: 1px;
  }

  .notification-button {
    padding: 4px 4px 5px;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .notification-button:first-child {
    border-radius: 0 0 0 6px;
  }

  .notification-button:last-child {
    border-radius: 0 0 6px 0;
  }

  .notification-button:hover, .notification-banner .notification-buttonfocus {
    background-color: #161919;
  }
}

.summary-boxpointer {
  color: @global-color-background-secondary;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  -arrow-border-radius: 0;
  -arrow-border-width: 1px;
  -boxpointer-gap: 6px;
  background-color: rgba(0, 0, 0, 0.65);
  border-color: transparent;
  -arrow-background-color: rgba(0, 0, 0, 0.65);
  -arrow-border-color: rgba(10, 10, 10, 0.65);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}

/* Old Message Tray */
#message-tray {
  background-color: rgba(0, 0, 0, 55);
  transition-duration: @global-transition-duration;
  height: 72px;
}

.message-tray-summary {
  height: 72px;
}

.message-tray-menu-button StIcon {
  padding: 0 20;
  color: rgba(0, 0, 0, 0, 0.65);
  icon-size: 24px;
}

.message-tray-menu-button:hover StIcon,
.message-tray-menu-button:active StIcon,
.message-tray-menu-button:focus StIcon {
  color: rgba(0, 0, 0, 0.65);
}

.url-highlighter {
  link-color: @global-color-primary;
}

.no-messages-label {
  color: rgba(0, 0, 0, 1);
}

/* Eeeky things */
.legacy-tray {
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid rgba(10, 10, 10, 0.65);
  border-bottom-width: 0;
}

.legacy-tray:ltr {
  border-radius: 0 6px 0 0;
  border-left-width: 0;
}

.legacy-tray:rtl {
  border-radius: 6px 0 0 0;
  border-right-width: 0;
}

/* Dashboard */
.dash-label {
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: @global-radius;
  padding: @global-padding;
  color: @global-color-light;
  background-color: @global-color-background-primary;
  text-align: center;
  -x-offset: @global-grid;
}

/* Application Launchers, Grid and List results */
.app-folder-popup {
  color: @global-color-background-secondary;
  border-radius: 0;
  border-width: 1px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  /**/
  -arrow-border-radius: 0;
  -arrow-border-width: 1px;
  /**/
  background-color: transparent;
  border-color: transparent;
  -arrow-background-color: rgba(0, 0, 0, 0.65);
  -arrow-border-color: rgba(10, 10, 10, 0.65);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}

/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
}

.osd-window .level {
  height: 0.6em;
  border-radius: 0.3em;
  color: rgba(222, 222, 222, 0.65);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.55);
  background-gradient-start: rgba(0, 0, 0, 0.65);
  background-gradient-end: rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

/* Tile previews */
.tile-preview {
  background-color: @global-color-background-primary-faded;
  border: 1px solid @global-color-light-faded;
  border-radius: 0 !important;
}

.tile-preview-left.on-primary {
  border-radius: 0 6px 6px 0;
}

.tile-preview-right.on-primary {
  border-radius: 6px 0 0 6px;
}

.tile-preview-left.tile-preview-right.on-primary {
  /* keep in sync with -panel-corner-radius */
  border-radius: 0 0 0 0;
}

/* Modal Dialogs */

/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
  font-size: 12pt;
  font-weight: bold;
  color: @global-color-primary;
}

.modal-dialog {
  color: rgba(222, 222, 222, 1.0);
  background-image: none;
  background-color: @global-color-background-primary;
  border: 1px solid rgba(10, 10, 10, 0.65);
  border-radius: @global-radius;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.modal-dialog-button-box {
  padding-top: 1em;
  border-radius: @global-radius;
}

/* On-screen Keyboard */

#keyboard {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.85);
  background-gradient-start: rgba(0, 0, 0, 0.85);
  background-gradient-end: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.75);
  border-top-width: 1px;
  box-shadow: none;
}

.keyboard-subkeys {
  color: @global-color-background-secondary;
  padding: 4px;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  -arrow-border-radius: 0;
  -arrow-border-width: 1px;
  -boxpointer-gap: 6px;
  background-color: transparent;
  border-color: transparent;
  -arrow-background-color: rgba(0, 0, 0, 0.65);
  -arrow-border-color: rgba(10, 10, 10, 0.65);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}

/* Login Dialog */
.framed-user-icon {
  border: 1px solid #8b8b8b;
  border-radius: 0;
  background-size: contain;
}

.framed-user-icon:hover {
  border: 1px solid rgba(10, 10, 10, 0.65);
}

.login-dialog-banner {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding-bottom: 1em;
}

.login-dialog {
  /* Reset border and background */
  border: none;
  background-color: transparent;
}

.login-dialog-button-box {
  spacing: 5px;
}

.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}

.login-dialog-user-list {
  spacing: 12px;
  padding: .2em;
  width: 23em;
}

.login-dialog-user-list-item {
  border-radius: 5px;
  padding: .2em;
}

.login-dialog-user-list-item:ltr {
  padding-right: 1em;
}

.login-dialog-user-list-item:rtl {
  padding-left: 1em;
}

.login-dialog-user-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
  color: rgba(249, 249, 249, 1.0);
  background-color: @global-color-primary;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
  background-image: url("logged-in-indicator.svg");
  background-size: contain;
}

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  background-color: transparent;
  height: 2px;
}

.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
  background-color: #555;
}

.login-dialog-not-listed-label {
  font-size: 11pt;
  font-weight: bold;
  color: #555;
  padding-top: 1em;
}

.login-dialog-user-selection-box {
  padding: 100 0;
}

.login-dialog-user-selection-box .login-dialog-not-listed-label {
  padding-left: 2px;
}

.login-dialog-not-listed-button:focus .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-not-listed-label {
  color: #eee;
}

.login-dialog-username,
.user-widget-label {
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
  text-shadow: black 0 4px 3px 0;
}

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}

.login-dialog-prompt-label {
  color: #eee;
  font-size: 14px;
  padding-top: 11px;
}

.login-dialog-session-list-button StIcon {
  icon-size: 1.25em;
}

.login-dialog-session-list-button {
  color: #555;
}

.login-dialog-session-list-button:hover,
.login-dialog-session-list-button:focus,
.login-dialog-session-list-button:active {
  color: white;
}

.login-dialog-logo-bin {
  padding: 24px 0;
}

.login-dialog .modal-dialog-button-box {
  spacing: 3px;
}

.login-dialog .modal-dialog-button {
  border-radius: 0;
  padding: 3px 18px;
}

.login-dialog .modal-dialog-button:focus {
  padding: 2px 17px;
}

.login-dialog .modal-dialog-button:default {
  color: rgba(249, 249, 249, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: @global-color-primary;
  background-gradient-start: @global-color-primary-start;
  background-gradient-end: @global-color-primary-end;
  border-color: rgba(0, 0, 0, 0.35);
}

.login-dialog .modal-dialog-button:default:focus {
  color: rgba(249, 249, 249, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: @global-color-primary;
  background-gradient-start: @global-color-primary-start;
  background-gradient-end: @global-color-primary-end;
  border-color: rgba(0, 0, 0, 0.35);
}

.login-dialog .modal-dialog-button:default:hover {
  color: rgba(249, 249, 249, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: @global-color-primary;
  background-gradient-start: @global-color-primary-start;
  background-gradient-end: @global-color-primary-end;
  border-color: rgba(0, 0, 0, 0.35);
}

.login-dialog .modal-dialog-button:default:active,
.login-dialog .modal-dialog-button:default:pressed {
  color: rgba(249, 249, 249, 1.0);
  background-image: none;
  background-gradient-direction: none;
  background-color: @global-color-primary;
  background-gradient-start: @global-color-primary-start;
  background-gradient-end: @global-color-primary-end;
  border-color: rgba(0, 0, 0, 0.35);
}

.login-dialog .modal-dialog-button:default:insensitive {
  border-color: rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.15);
  background-gradient-direction: none;
  background-color: rgba(102, 102, 102, 0.35);
}

.login-dialog-message {
  padding-top: 4px;
  padding-bottom: 16px;
  min-height: 2em;
}

.login-dialog-message-warning {
  color: @global-color-primary;
}

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20;
}

.user-widget-label {
}

.user-widget-label:ltr {
  padding-left: 18px;
}

.user-widget-label:rtl {
  padding-right: 18px;
}

/* Screen shield */

#panel.lock-screen,
#screenShieldNotifications {
  background-color: rgba(0, 0, 0, 0.3);
}

.screen-shield-background {
  background: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

#lockDialogGroup {
  background: #2e3436 url(noise-texture.png);
  background-repeat: repeat;
}

.screen-shield-arrows {
  padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.screen-shield-contents-box {
  spacing: 48px;
}

.screen-shield-clock {
  color: red;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: center;
  padding-bottom: 1.5em;
}

.screen-shield-clock-time {
  font-size: 72pt;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock-date {
  font-size: 28pt;
}

#screenShieldNotifications {
  max-height: 500;
  padding: 12px;
}

.screen-shield-notifications-box {
  spacing: 12px;
  width: 30em;
}

.screen-shield-notification-source {
  padding: 3px 6px;
  spacing: 5px;
}

.screen-shield-notification-label {
  font-weight: bold;
  padding: 0 0 0 12px;
}

.screen-shield-notification-count-text {
  padding: 0 0 0 12px;
}

/* Remove background from notifications, otherwise
opacity is doubled and they look darker
*/
.screen-shield-notifications-box .notification {
  background-color: transparent;
}

/* Override padding on resident notifications, since
the notifications box has its own spacing
*/
.screen-shield-notifications-box .summary-notification-stack-scrollview {
  padding-top: 0;
  padding-bottom: 0;
}

#screenShieldNotifications .notification-button,
#screenShieldNotifications .notification-icon-button {
  border: 1px rgba(255, 255, 255, 0.5);
}

#screenShieldNotifications StScrollBar StBin#trough {
  background-color: rgba(0, 0, 0, 0.2);
}

#screenShieldNotifications StScrollBar StButton#vhandle,
#screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

#screenShieldNotifications StScrollBar StButton#vhandle:hover,
#screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(0, 0, 0, 0.6);
}

#screenShieldNotifications StScrollBar StButton#vhandle:active,
#screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(0, 0, 0, 0.65);
}

.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

/* Background menu */

.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0;
}

.osd-window .level {
  height: 0.6em;
  border-radius: 0.3em;
  background-color: rgba(10, 10, 10, 0.5);
}

/* Add Dash to Dock Support */

#dash {
  font-size: 1em;
  color: #BAC3CF;
  border: none;
  background: none;
  border-radius: 0 @global-radius-large @global-radius-large 0;

  .placeholder {
    background-image: url("common-assets/dash/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
  }

  .empty-dash-drop-target {
    width: 24px;
    height: 24px;
  }

  .app-well-app {
    background-gradient-start: none;
    background-gradient-end: none;
    transition-duration: @global-transition-duration;
  }
  .app-well-app:active .overview-icon,
  .app-well-app:checked .overview-icon,
  .app-well-app.app-folder:active .overview-icon,
  .app-well-app.app-folder:checked .overview-icon,
  .show-apps:active .overview-icon,
  .show-apps:checked .overview-icon,
  .grid-search-result:active .overview-icon,
  .grid-search-result:checked .overview-icon {
    background: none;
  }
  .overview-icon {
  }

  .app-well-app:focus .overview-icon,
  .app-well-app:selected .overview-icon,
  .app-well-app.app-folder:hover .overview-icon,
  .app-well-app.app-folder:focus .overview-icon,
  .app-well-app.app-folder:selected .overview-icon,
  .show-apps:hover .overview-icon,
  .show-apps:focus .overview-icon,
  .show-apps:selected .overview-icon,
  .grid-search-result:hover .overview-icon,
  .grid-search-result:focus .overview-icon,
  .grid-search-result:selected .overview-icon {
    background: @global-color-background-primary-light;
  }
  /* dock running dot */
  .app-well-app-running-dot {
    border-radius: @global-radius;
    width: @global-grid * 3;
    height: @global-grid / 2;
    background-color: @global-color-light-faded;
    box-shadow: @global-text-shadow;
    margin-bottom: 2px;
  }

  //#dashtodockContainer .app-well-app.running > .overview-icon {
  //  border-color: @global-color-light;
  //  border-width: 0;
  //  border-bottom-width: 2px;
  //}
}

.right #dash,
#dash:rtl {
  padding: 4px 0;
  border-radius: 3px 0 0 3px;
}
.top #dash,
.bottom #dash {
  padding: 0;
}

.dash-item-container > StWidget,
.dash-item-container > StWidget:rtl,
.right .dash-item-container > StWidget {
  background: none;
  padding: (@global-grid / 2) @global-grid;
}

/* Shrink the dash by reducing padding and border radius */
//@dash-radius: @global-radius * 2;
//#dashtodockContainer #dash {
//  padding: 0;
//  border: none;
//  border-radius: 0 @dash-radius @dash-radius 0;
//}
//
//#dashtodock #dash:rtl {
//  border: none;
//  border-radius: @dash-radius 0 0 @dash-radius;
//}
//
//#dashtodockContainer .dash-item-container {
//  padding-top: (@global-grid / 2);
//  background-color: @global-color-background-primary-light;
//}
//
//#dashtodockContainer .dash-item-container > StButton {
//  background-size: contain;
//  border-radius: @dash-radius;
//  transition-duration: @global-transition-duration-short;
//
//  &:first-of-type,
//  &:last-of-type {
//    padding-top: @global-grid * 2;
//    padding-bottom: @global-grid * 2;
//  }
//}
//
//#dashtodockContainer .dash-item-container > StButton:hover {
//  //background-color: @global-color-background-primary-light;
//}
//
///* Dash height extended to the whole available vertical space */
//#dashtodockContainer.extended #dash {
//  border: 0;
//  border-radius: 0;
//}
//
///* Running and focused application style */
//
//#dashtodockContainer .app-well-app.running > .overview-icon {
//  border-color: @global-color-light;
//  border-width: 0;
//  border-bottom-width: 2px;
//}
//
//#dashtodockContainer .app-well-app.focused > .overview-icon {
//  transition-duration: 250;
//  background-gradient-start: rgba(255, 255, 255, .05);
//  background-gradient-end: rgba(255, 255, 255, .15);
//  background-gradient-direction: vertical;
//  border-radius: @dash-radius;
//  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 1);
//}
//
//#dashtodockContainer:ltr .running1 {
//  background-image: url('one.svg');
//}
//
//#dashtodockContainer:rtl .running1 {
//  background-image: url('one_rtl.svg');
//}
//
//#dashtodockContainer:ltr .running2 {
//  background-image: url('two.svg');
//}
//
//#dashtodockContainer:rtl .running2 {
//  background-image: url('two_rtl.svg');
//}
//
//#dashtodockContainer:ltr .running3 {
//  background-image: url('three.svg');
//}
//
//#dashtodockContainer:rtl .running3 {
//  background-image: url('three_rtl.svg');
//}
//
//#dashtodockContainer:ltr .running4 {
//  background-image: url('four.svg');
//}
//
//#dashtodockContainer:rtl .running4 {
//  background-image: url('four_rtl.svg');
//}

