stage {
  font-family: Ubuntu, Futura Bk bt, Cantarell, Sans-Serif;
  font-size: 11pt;
}
.button {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.27);
  background: #006ccc;
  border-radius: 3px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
.button:hover {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
  background-color: #0081f5;
}
.button:active {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
  background-color: #004b8f;
  box-shadow: inset 0px -1px 3px 0px rgba(0, 0, 0, 0.2);
}
.slider {
  height: 5px;
  -slider-height: 3px;
  -slider-background-color: rgba(228, 228, 228, 0.65);
  -slider-border-color: transparent;
  -slider-active-background-color: #ff3300;
  -slider-active-border-color: rgba(0, 0, 0, 0.3);
}
/* Buttons */
.candidate-page-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.modal-dialog-button,
.app-view-control {
  color: #e4e4e4;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.45);
  background-gradient-start: rgba(0, 0, 0, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.15);
  font-weight: normal;
  transition-duration: 200ms;
}
.candidate-page-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.modal-dialog-button:hover {
  color: #dedede;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(74, 144, 217, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.1);
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
}
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus,
.app-view-control:focus {
  color: #dedede;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.2);
  border-color: rgba(10, 10, 10, 0.15);
  border-image: none;
}
.notification-button:focus:hover,
.notification-icon-button:focus:hover,
.hotplug-notification-item:focus:hover,
.modal-dialog-button:focus:hover,
.app-view-control:focus:hover {
  color: #dedede;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.2);
  background-gradient-end: rgba(0, 0, 0, 0.4);
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
}
.notification-button:focus:active,
.notification-icon-button:focus:active,
.hotplug-notification-item:focus:active,
.modal-dialog-button:focus:active,
.app-view-control:focus:active {
  color: #dedede;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(0, 0, 0, 0.4);
  background-gradient-end: rgba(0, 0, 0, 0.2);
  border-color: rgba(10, 10, 10, 0.25);
  border-image: none;
}
.modal-dialog-linked-button {
  padding: 0;
  border-radius: 0 0 3px 3px !important;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
  border: 0;
  height: 35px;
  color: #FFF;
  background-color: #006ccc;
  font-weight: bold;
}
.app-view-control:focus {
  padding: 3px;
}
.app-view-control:first-child:ltr:focus,
.app-view-control:last-child:rtl:focus {
  border-right-width: 1px;
}
.candidate-page-button:active,
.candidate-page-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed,
.app-view-control:checked {
  color: white;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(74, 144, 217, 0.5);
  background-gradient-start: rgba(74, 144, 217, 0.4);
  background-gradient-end: rgba(74, 144, 217, 0.2);
  border-color: #141414;
}
.candidate-page-button:insensitive,
.notification-button:insensitive,
.notification-icon-button:insensitive,
.modal-dialog-button:insensitive {
  color: #999999;
}
/* Entries */
.search-entry {
  font-size: 12pt;
  caret-size: 1px;
  caret-color: #e4e4e4;
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.8);
  selection-background-color: rgba(0, 0, 0, 0.85);
  selected-color: rgba(255, 255, 255, 0.8);
  padding: 12px;
  box-shadow: none;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(10, 10, 10, 0.15);
  border-image: none;
  border: 2px solid transparent;
  transition-duration: 200ms;
}
.search-entry .search-entry-icon {
  icon-size: 16px;
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.8);
  icon-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.search-entry:hover,
.search-entry:focus {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.search-entry:hover .search-entry-icon,
.search-entry:focus .search-entry-icon {
  color: white;
}
.search-section-separator {
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom: none;
  border-left: none;
  border-right: none;
  -margin-horizontal: 1.5em;
  height: 1px;
  box-shadow: inset 0 1px 0 rgba(222, 222, 222, 0.04);
}
/* modify these start */
/* modify these end */
StEntry {
  font-size: 11pt;
  caret-color: #333;
  caret-size: 1px;
  background-color: rgba(222, 222, 222, 0.1);
  selection-background-color: rgba(74, 144, 217, 0.5);
  selected-color: rgba(249, 249, 249, 0.6);
  color: #f9f9f9;
  padding: 6px 12px;
  margin-top: 3px;
  border: none;
  border-radius: 3px;
  border-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
}
StEntry:insensitive {
  color: #949796;
  border-color: #333636;
  box-shadow: none;
}
StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #f57900;
  padding: 0 4px;
}
/* Panel */
#panel {
  color: #e4e4e4;
  background-image: none;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 0, 0.85);
  background-gradient-end: rgba(0, 0, 0, 0.01);
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
  font-size: 13px;
  height: 28px;
  transition-duration: 400ms;
}
#panel.solid {
  color: #e4e4e4;
  background-color: rgba(0, 0, 0, 0.85);
  background-gradient-direction: none;
  box-shadow: none;
}
#panel.solid:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(46, 46, 46, 0.85);
}
#panel.solid:active,
#panel.solid:focus,
#panel.solid:checked {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
}
#panel .panel-button {
  font-weight: bold;
  font-size: 13px;
  background-gradient-direction: vertical;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
  color: rgba(255, 255, 255, 0.8);
}
#panel .panel-button:hover {
  color: white;
}
#panel .panel-button:overview {
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.8);
}
#panel .panel-button:active,
#panel .panel-button:focus,
#panel .panel-button:checked {
  color: white;
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.8);
}
#panel .panel-button .app-menu-icon {
  -st-icon-style: symbolic;
  margin-left: 6px;
  margin-right: 6px;
}
.panel-corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-width: 0;
  -panel-corner-border-color: transparent;
}
/* Scroll Bars */
StScrollBar {
  padding: 4;
}
StScrollView.vfade {
  -st-vfade-offset: 21px;
}
StScrollView.hfade {
  -st-hfade-offset: 21px;
}
StScrollView StScrollBar {
  min-width: 10;
  min-height: 15px;
}
StScrollBar StBin#trough {
  background-color: transparent;
  border-radius: 4px;
}
StScrollBar StButton#vhandle {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(10, 10, 10, 0.35);
  background-gradient-start: rgba(20, 20, 20, 0.55);
  background-gradient-end: rgba(74, 144, 217, 0.65);
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition-duration: 400ms;
}
StScrollBar StButton#vhandle:hover {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(74, 144, 217, 0.3);
  background-gradient-start: rgba(74, 144, 217, 0.3);
  background-gradient-end: rgba(74, 144, 217, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
StScrollBar StButton#vhandle:active {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(74, 144, 217, 0.3);
  background-gradient-start: rgba(74, 144, 217, 0.3);
  background-gradient-end: rgba(74, 144, 217, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
StScrollBar StButton#hhandle {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-gradient-start: rgba(10, 10, 10, 0.3);
  background-gradient-end: rgba(74, 144, 217, 0.3);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition-duration: 400ms;
}
StScrollBar StButton#hhandle:hover {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgbargba(74, 144, 217, 0.3);
  background-gradient-start: rgbargba(74, 144, 217, 0.3);
  background-gradient-end: rgbargba(74, 144, 217, 0.3);
  border-color: none;
}
StScrollBar StButton#hhandle:active {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgbargba(74, 144, 217, 0.4);
  background-gradient-start: rgbargba(74, 144, 217, 0.4);
  background-gradient-end: rgbargba(74, 144, 217, 0.4);
  border-color: rgba(0, 0, 0, 0.3);
}
/* Switches */
.toggle-switch {
  width: 45px;
  height: 15px;
  border-radius: 12px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.02);
  background-size: contain;
  background-image: url("assets/toggle-off.svg");
}
.toggle-switch:checked {
  background-image: url("assets/toggle-on.svg");
}
.popup-menu-item.selected .toggle-switch {
  background-image: url("assets/toggle-off-selected.svg");
}
.popup-menu-item.selected .toggle-switch:checked {
  background-image: url("assets/toggle-on-selected.svg");
}
/* PopupMenu */
.popup-menu-boxpointer,
.candidate-popup-boxpointer {
  -arrow-background-color: rgba(0, 0, 0, 0.01);
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 64px;
  -arrow-rise: 0;
  -arrow-box-shadow: none;
  margin: 0.1em 0.3em 0.5em;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.32), 0 3px 3px rgba(0, 0, 0, 0.18);
}
.popup-menu {
  margin: 5px 9px;
  color: #dedede;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.85);
}
.popup-menu.panel-menu {
  -boxpointer-gap: 10px;
  margin: 0 10px 10px 0;
}
.popup-menu .popup-sub-menu {
  color: #dedede;
  background: none;
}
.popup-menu .popup-menu-content {
  background: none;
}
.popup-menu .popup-menu-item {
  background: none;
}
.popup-menu .popup-menu-item:hover {
  background-color: rgba(64, 64, 64, 0.85);
}
.popup-menu .popup-menu-item:selected,
.popup-menu .popup-menu-item:active {
  background-color: rgba(102, 102, 102, 0.85);
}
.popup-submenu-menu-item {
  background: none;
}
.popup-submenu-menu-item:open {
  background: none;
}
.popup-separator-menu-item {
  border-color: rgba(10, 10, 10, 0.35);
}
.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0px;
}
/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 16px;
}
.osd-window,
.switcher-list {
  color: #dedede;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.65);
  background-gradient-start: rgba(0, 0, 0, 0.5);
  background-gradient-end: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(10, 10, 10, 0.35);
  border-radius: 12px;
  padding: 20;
}
.switcher-list .item-box:outlined {
  padding: 6px;
  border: 12px solid #006ccc;
}
.switcher-list .item-box:selected {
  background-color: rgba(74, 144, 217, 0.45);
}
/* Workspace Switcher */
.workspace-switcher-group {
  padding: 12px;
}
.workspace-switcher-container {
  background-color: transparent;
  border: 0 transparent;
  border-radius: 5px;
  box-shadow: 0;
  padding: 20;
}
.workspace-switcher {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  spacing: 8px;
}
.ws-switcher-active-up {
  height: 50;
  border: none;
  background: rgba(0, 0, 0, 0.65);
  background-image: url("./assets/ws-switch-arrow-up.svg");
  border-radius: 8px;
}
.ws-switcher-active-down {
  height: 50;
  border: none;
  background: rgba(0, 0, 0, 0.65);
  background-image: url("./assets/ws-switch-arrow-down.svg");
  border-radius: 8px;
}
.ws-switcher-box {
  height: 96px;
  border: none;
  background: #006ccc;
  border-radius: 8px;
}
.calendar {
  padding: 0.4em 1.75em 0.8em 1.75em;
  spacing-rows: 0;
  spacing-columns: 0;
}
.calendar-month-label {
  color: #e4e4e4;
  font-size: 10pt;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;
}
.calendar-month-label:focus {
  color: #e4e4e4;
}
.calendar-change-month-back {
  background-image: url("./assets/calendar-arrow-back.svg");
  border-radius: 30;
  border: 1px transparent;
  transition-duration: 400ms;
}
.calendar-change-month-back:hover,
.calendar-change-month-back:focus {
  background-color: #0081f5;
}
.calendar-change-month-back:active {
  background-color: transparent;
}
.calendar-change-month-forward {
  background-image: url("./assets/calendar-arrow-forward.svg");
  border-radius: 30;
  border: 1px transparent;
  transition-duration: 400ms;
}
.calendar-change-month-forward:hover,
.calendar-change-month-forward:focus {
  background-color: #0081f5;
}
.calendar-change-month-forward:active {
  background-color: transparent;
}
.datemenu-date-label {
  padding: 0.4em 1.7em;
  font-weight: bold;
  text-align: center;
  color: #e4e4e4;
}
.datemenu-date-label:hover,
.datemenu-date-label:focus {
  color: #e4e4e4;
}
.datemenu-date-label:active {
  background-image: none;
  background-gradient-direction: none;
  background-color: #006ccc;
  background-gradient-start: #0081f5;
  background-gradient-end: #004b8f;
}
.datemenu-today-button {
  color: #e4e4e4;
  background-color: transparent;
}
.datemenu-today-button:hover,
.datemenu-today-button:focus {
  color: #e4e4e4;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.08);
}
.datemenu-today-button:active {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.08);
}
.world-clocks-button:active,
.message-list-section-title:active {
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.08);
  background-color: #006ccc;
}
.calendar-day-base {
  font-size: 9pt;
  text-align: center;
  width: 2.4em;
  height: 2.4em;
  border: none;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.27);
}
.calendar-day-base:hover,
.calendar-day-base:focus {
  color: white;
  background-image: none;
  background-color: #0081f5;
}
.calendar-day-base:selected,
.calendar-day-base:active {
  color: white;
  background-image: none;
  background-color: #006ccc;
}
.calendar-day-heading {
  color: #e4e4e4;
  padding-top: 0.2em;
  height: 1.7em;
}
.calendar-week-number {
  color: #e4e4e4;
  font-weight: bold;
}
.calendar-day-with-events {
  background-image: url("calendar-today.svg");
}
.events-day-header {
  font-weight: bold;
  color: #e4e4e4;
  padding-left: 0.4em;
  padding-top: 1.2em;
}
.events-day-time {
  color: #e4e4e4;
  text-align: right;
}
.system-menu-action {
  color: #e4e4e4;
  border-radius: 32px;
  padding: 13px;
  border: 2px solid rgba(10, 10, 10, 0.3);
}
.system-menu-action:hover,
.system-menu-action:focus {
  color: #f9f9f9;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.4);
  background-gradient-start: rgba(0, 0, 0, 0.3);
  background-gradient-end: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 51, 0, 0.85);
}
.system-menu-action:active {
  color: #f9f9f9;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.4);
  background-gradient-start: rgba(0, 0, 0, 0.3);
  background-gradient-end: rgba(0, 0, 0, 0.4);
  border: 2px solid #ff3300;
}
/* Network */
.nm-dialog {
  border: 0;
}
.nm-dialog-content {
  color: #dedede;
}
.nm-dialog-header-icon {
  icon-size: 32px;
  color: rgba(10, 10, 10, 0.75);
  padding-bottom: 14px;
}
.nm-dialog-scroll-view {
  background-color: transparent;
  border: none;
  padding-left: 10;
}
.nm-dialog-header {
  font-weight: bold;
  color: #006ccc;
}
.nm-dialog-header:selected {
  border-radius: 6px;
  border: 1px rgba(10, 20, 10, 0.75);
  background-color: #0081f5;
}
/* Overview */
#overview {
  spacing: 24px;
  background-color: rgba(255, 255, 255, 0.06);
}
.overview-controls {
  padding-bottom: 32px;
}
.workspace-thumbnails {
  spacing: 11px;
  visible-width: 32px;
  /* Amount visible before hovering */
  border: 1px solid rgba(10, 10, 10, 0.75);
  border-right: 0;
  border-radius: 8px 0 0 8px;
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.85);
  background-gradient-start: none;
  background-gradient-end: none;
  padding: 9px 7px 9px 9px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
.workspace-thumbnail-indicator {
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.window-clone-border {
  border-radius: 3px;
  border: 3px solid white;
}
/* todo: tweak me */
.window-caption {
  spacing: 25px;
  color: #dedede;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 8px;
  padding: 4px 12px;
  -shell-caption-spacing: 12px;
}
.window-caption:hover {
  background-color: #4a90d9;
}
/* Message List */
.message-list {
  background-color: transparent;
}
.message-list-section-title {
  color: rgba(222, 222, 222, 0.5);
}
.message-list-section-title:hover,
.message-list-section-title:focus {
  color: #dedede;
  background-color: rgba(10, 10, 10, 0.65);
}
.message-list-section-title:active {
  background-color: #006ccc;
}
.message-list-section-close > StIcon {
  icon-size: 16px;
  border-radius: 16px;
  border: 2px transparent;
  color: #999;
  background-color: transparent;
  margin-right: 8px;
}
.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon {
  color: #006ccc;
}
.window-close {
  background-image: url("./assets/close-window.svg");
}
.window-close:hover {
  background-image: url("./assets/close-window-hover.svg");
}
.window-close:active {
  background-image: url("./assets/close-window-active.svg");
}
/* notification in message tray */
.message {
  background-color: rgba(0, 0, 0, 0.85);
}
.message:hover,
.message:focus {
  background-color: rgba(0, 0, 0, 0.75);
}
.message:active {
  background-color: #006ccc;
}
/* Notifications & Message Tray */
.url-highlighter {
  link-color: #006ccc;
}
.notification-banner {
  font-size: 11pt;
  width: 34em;
  margin: 5px;
  border: 1px solid rgba(10, 10, 10, 0.3);
  border-radius: 6px;
  color: rgba(222, 222, 222, 0.85);
  background-color: rgba(0, 0, 0, 0.85);
}
.notification-banner:active,
.notification-banner:hover,
.notification-banner:focus {
  background-color: rgba(0, 0, 0, 0.95);
}
.notification-banner .notification-icon {
  padding: 5px;
}
.notification-banner .notification-content {
  padding: 5px;
  spacing: 5px;
}
.notification-banner .secondary-icon {
  icon-size: 1.09em;
}
.notification-banner .notification-actions {
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 2px;
  spacing: 1px;
}
.notification-banner .notification-button {
  padding: 4px 4px 5px;
  background-color: rgba(0, 0, 0, 0.65);
}
.notification-banner .notification-button:first-child {
  border-radius: 0 0 0 6px;
}
.notification-banner .notification-button:last-child {
  border-radius: 0 0 6px 0;
}
.notification-banner .notification-button:hover,
.notification-banner .notification-banner .notification-buttonfocus {
  background-color: #161919;
}
.summary-boxpointer {
  color: #e4e4e4;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  -arrow-border-radius: 0;
  -arrow-border-width: 1px;
  -boxpointer-gap: 6px;
  background-color: rgba(0, 0, 0, 0.65);
  border-color: transparent;
  -arrow-background-color: rgba(0, 0, 0, 0.65);
  -arrow-border-color: rgba(10, 10, 10, 0.65);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}
/* Old Message Tray */
#message-tray {
  background-color: #000000;
  transition-duration: 400ms;
  height: 72px;
}
.message-tray-summary {
  height: 72px;
}
.message-tray-menu-button StIcon {
  padding: 0 20;
  color: rgba(0, 0, 0, 0);
  icon-size: 24px;
}
.message-tray-menu-button:hover StIcon,
.message-tray-menu-button:active StIcon,
.message-tray-menu-button:focus StIcon {
  color: rgba(0, 0, 0, 0.65);
}
.url-highlighter {
  link-color: #006ccc;
}
.no-messages-label {
  color: #000000;
}
/* Eeeky things */
.legacy-tray {
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid rgba(10, 10, 10, 0.65);
  border-bottom-width: 0;
}
.legacy-tray:ltr {
  border-radius: 0 6px 0 0;
  border-left-width: 0;
}
.legacy-tray:rtl {
  border-radius: 6px 0 0 0;
  border-right-width: 0;
}
/* Dashboard */
.dash-label {
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 3px;
  padding: 6px 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  -x-offset: 6px;
}
/* Application Launchers, Grid and List results */
.app-folder-popup {
  color: #e4e4e4;
  border-radius: 0;
  border-width: 1px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  /**/
  -arrow-border-radius: 0;
  -arrow-border-width: 1px;
  /**/
  background-color: transparent;
  border-color: transparent;
  -arrow-background-color: rgba(0, 0, 0, 0.65);
  -arrow-border-color: rgba(10, 10, 10, 0.65);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}
/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
}
.osd-window .level {
  height: 0.6em;
  border-radius: 0.3em;
  color: rgba(222, 222, 222, 0.65);
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.55);
  background-gradient-start: rgba(0, 0, 0, 0.65);
  background-gradient-end: rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}
/* Tile previews */
.tile-preview {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0 !important;
}
.tile-preview-left.on-primary {
  border-radius: 0 6px 6px 0;
}
.tile-preview-right.on-primary {
  border-radius: 6px 0 0 6px;
}
.tile-preview-left.tile-preview-right.on-primary {
  /* keep in sync with -panel-corner-radius */
  border-radius: 0 0 0 0;
}
/* Modal Dialogs */
/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
  font-size: 12pt;
  font-weight: bold;
  color: #006ccc;
}
.modal-dialog {
  color: #dedede;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(10, 10, 10, 0.65);
  border-radius: 3px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.modal-dialog-button-box {
  padding-top: 1em;
  border-radius: 3px;
}
/* On-screen Keyboard */
#keyboard {
  background-image: none;
  background-gradient-direction: none;
  background-color: rgba(0, 0, 0, 0.85);
  background-gradient-start: rgba(0, 0, 0, 0.85);
  background-gradient-end: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.75);
  border-top-width: 1px;
  box-shadow: none;
}
.keyboard-subkeys {
  color: #e4e4e4;
  padding: 4px;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  -arrow-border-radius: 0;
  -arrow-border-width: 1px;
  -boxpointer-gap: 6px;
  background-color: transparent;
  border-color: transparent;
  -arrow-background-color: rgba(0, 0, 0, 0.65);
  -arrow-border-color: rgba(10, 10, 10, 0.65);
  -arrow-base: 21px;
  -arrow-rise: 9px;
}
/* Login Dialog */
.framed-user-icon {
  border: 1px solid #8b8b8b;
  border-radius: 0;
  background-size: contain;
}
.framed-user-icon:hover {
  border: 1px solid rgba(10, 10, 10, 0.65);
}
.login-dialog-banner {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding-bottom: 1em;
}
.login-dialog {
  /* Reset border and background */
  border: none;
  background-color: transparent;
}
.login-dialog-button-box {
  spacing: 5px;
}
.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}
.login-dialog-user-list {
  spacing: 12px;
  padding: 0.2em;
  width: 23em;
}
.login-dialog-user-list-item {
  border-radius: 5px;
  padding: 0.2em;
}
.login-dialog-user-list-item:ltr {
  padding-right: 1em;
}
.login-dialog-user-list-item:rtl {
  padding-left: 1em;
}
.login-dialog-user-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
  color: #f9f9f9;
  background-color: #006ccc;
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
  background-image: url("logged-in-indicator.svg");
  background-size: contain;
}
.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  background-color: transparent;
  height: 2px;
}
.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
  background-color: #555;
}
.login-dialog-not-listed-label {
  font-size: 11pt;
  font-weight: bold;
  color: #555;
  padding-top: 1em;
}
.login-dialog-user-selection-box {
  padding: 100 0;
}
.login-dialog-user-selection-box .login-dialog-not-listed-label {
  padding-left: 2px;
}
.login-dialog-not-listed-button:focus .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-not-listed-label {
  color: #eee;
}
.login-dialog-username,
.user-widget-label {
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
  text-shadow: black 0 4px 3px 0;
}
.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}
.login-dialog-prompt-label {
  color: #eee;
  font-size: 14px;
  padding-top: 11px;
}
.login-dialog-session-list-button StIcon {
  icon-size: 1.25em;
}
.login-dialog-session-list-button {
  color: #555;
}
.login-dialog-session-list-button:hover,
.login-dialog-session-list-button:focus,
.login-dialog-session-list-button:active {
  color: white;
}
.login-dialog-logo-bin {
  padding: 24px 0;
}
.login-dialog .modal-dialog-button-box {
  spacing: 3px;
}
.login-dialog .modal-dialog-button {
  border-radius: 0;
  padding: 3px 18px;
}
.login-dialog .modal-dialog-button:focus {
  padding: 2px 17px;
}
.login-dialog .modal-dialog-button:default {
  color: #f9f9f9;
  background-image: none;
  background-gradient-direction: none;
  background-color: #006ccc;
  background-gradient-start: #0081f5;
  background-gradient-end: #004b8f;
  border-color: rgba(0, 0, 0, 0.35);
}
.login-dialog .modal-dialog-button:default:focus {
  color: #f9f9f9;
  background-image: none;
  background-gradient-direction: none;
  background-color: #006ccc;
  background-gradient-start: #0081f5;
  background-gradient-end: #004b8f;
  border-color: rgba(0, 0, 0, 0.35);
}
.login-dialog .modal-dialog-button:default:hover {
  color: #f9f9f9;
  background-image: none;
  background-gradient-direction: none;
  background-color: #006ccc;
  background-gradient-start: #0081f5;
  background-gradient-end: #004b8f;
  border-color: rgba(0, 0, 0, 0.35);
}
.login-dialog .modal-dialog-button:default:active,
.login-dialog .modal-dialog-button:default:pressed {
  color: #f9f9f9;
  background-image: none;
  background-gradient-direction: none;
  background-color: #006ccc;
  background-gradient-start: #0081f5;
  background-gradient-end: #004b8f;
  border-color: rgba(0, 0, 0, 0.35);
}
.login-dialog .modal-dialog-button:default:insensitive {
  border-color: rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.15);
  background-gradient-direction: none;
  background-color: rgba(102, 102, 102, 0.35);
}
.login-dialog-message {
  padding-top: 4px;
  padding-bottom: 16px;
  min-height: 2em;
}
.login-dialog-message-warning {
  color: #006ccc;
}
.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20;
}
.user-widget-label:ltr {
  padding-left: 18px;
}
.user-widget-label:rtl {
  padding-right: 18px;
}
/* Screen shield */
#panel.lock-screen,
#screenShieldNotifications {
  background-color: rgba(0, 0, 0, 0.3);
}
.screen-shield-background {
  background: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}
#lockDialogGroup {
  background: #2e3436 url(noise-texture.png);
  background-repeat: repeat;
}
.screen-shield-arrows {
  padding-bottom: 3em;
}
.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.screen-shield-contents-box {
  spacing: 48px;
}
.screen-shield-clock {
  color: red;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: center;
  padding-bottom: 1.5em;
}
.screen-shield-clock-time {
  font-size: 72pt;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.screen-shield-clock-date {
  font-size: 28pt;
}
#screenShieldNotifications {
  max-height: 500;
  padding: 12px;
}
.screen-shield-notifications-box {
  spacing: 12px;
  width: 30em;
}
.screen-shield-notification-source {
  padding: 3px 6px;
  spacing: 5px;
}
.screen-shield-notification-label {
  font-weight: bold;
  padding: 0 0 0 12px;
}
.screen-shield-notification-count-text {
  padding: 0 0 0 12px;
}
/* Remove background from notifications, otherwise
opacity is doubled and they look darker
*/
.screen-shield-notifications-box .notification {
  background-color: transparent;
}
/* Override padding on resident notifications, since
the notifications box has its own spacing
*/
.screen-shield-notifications-box .summary-notification-stack-scrollview {
  padding-top: 0;
  padding-bottom: 0;
}
#screenShieldNotifications .notification-button,
#screenShieldNotifications .notification-icon-button {
  border: 1px rgba(255, 255, 255, 0.5);
}
#screenShieldNotifications StScrollBar StBin#trough {
  background-color: rgba(0, 0, 0, 0.2);
}
#screenShieldNotifications StScrollBar StButton#vhandle,
#screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}
#screenShieldNotifications StScrollBar StButton#vhandle:hover,
#screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(0, 0, 0, 0.6);
}
#screenShieldNotifications StScrollBar StButton#vhandle:active,
#screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(0, 0, 0, 0.65);
}
.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}
/* Background menu */
.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0;
}
.osd-window .level {
  height: 0.6em;
  border-radius: 0.3em;
  background-color: rgba(10, 10, 10, 0.5);
}
/* Add Dash to Dock Support */
#dash {
  font-size: 1em;
  color: #BAC3CF;
  border: none;
  background: none;
  border-radius: 0 8px 8px 0;
  /* dock running dot */
}
#dash .placeholder {
  background-image: url("common-assets/dash/dash-placeholder.svg");
  background-size: contain;
  height: 24px;
}
#dash .empty-dash-drop-target {
  width: 24px;
  height: 24px;
}
#dash .app-well-app {
  background-gradient-start: none;
  background-gradient-end: none;
  transition-duration: 400ms;
}
#dash .app-well-app:active .overview-icon,
#dash .app-well-app:checked .overview-icon,
#dash .app-well-app.app-folder:active .overview-icon,
#dash .app-well-app.app-folder:checked .overview-icon,
#dash .show-apps:active .overview-icon,
#dash .show-apps:checked .overview-icon,
#dash .grid-search-result:active .overview-icon,
#dash .grid-search-result:checked .overview-icon {
  background: none;
}
#dash .app-well-app:focus .overview-icon,
#dash .app-well-app:selected .overview-icon,
#dash .app-well-app.app-folder:hover .overview-icon,
#dash .app-well-app.app-folder:focus .overview-icon,
#dash .app-well-app.app-folder:selected .overview-icon,
#dash .show-apps:hover .overview-icon,
#dash .show-apps:focus .overview-icon,
#dash .show-apps:selected .overview-icon,
#dash .grid-search-result:hover .overview-icon,
#dash .grid-search-result:focus .overview-icon,
#dash .grid-search-result:selected .overview-icon {
  background: rgba(46, 46, 46, 0.85);
}
#dash .app-well-app-running-dot {
  border-radius: 3px;
  width: 18px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
  margin-bottom: 2px;
}
.right #dash,
#dash:rtl {
  padding: 4px 0;
  border-radius: 3px 0 0 3px;
}
.top #dash,
.bottom #dash {
  padding: 0;
}
.dash-item-container > StWidget,
.dash-item-container > StWidget:rtl,
.right .dash-item-container > StWidget {
  background: none;
  padding: 3px 6px;
}
/* Shrink the dash by reducing padding and border radius */
